.paper {
    box-shadow: 0 0 0!important;
    border-radius: 0!important;
    margin: 0;
    padding: 9px
}

.root {
    overflow: hidden!important;
}
.wrapper {
    max-width: 400px!important;
}

.MuiAvatar-root-231 {
    width: 55px!important;
    height: 55px!important;
}