.speech-bubble {
    position: relative;
    background-color: #99ffc4;
    border-radius: 9px;
    margin-left: 10px;
    width: fit-content;
    max-width: 40%;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.938em solid transparent;
    border-right-color: #99ffc4;
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.469em;
    margin-left: -0.937em;
}
.speech-bubblet {
    position: relative;
    background-color: #efefef;
    border-radius: .4em;
    margin-left: 10px;
    width: fit-content;
    max-width: 40%;
}
.speech-bubblet:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.938em solid transparent;
    border-right-color: #efefef;
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.469em;
    margin-left: -0.937em;
}